@font-face {
    font-family: "TPIcons";
    src: url("icons/icons.eot");
    src: url("icons/icons.eot?#iefix") format("embedded-opentype"), url("icons/icons.woff2") format("woff2"), url("icons/icons.woff") format("woff"), url("icons/icons.ttf") format("truetype"), url("icons/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "TPIcons";
        src: url("icons/icons.svg#icons") format("svg")
    }
}

[class^="tp-icon-"]:before,
[class*=" tp-icon-"]:before,
[class^="tp-icon-"]:after,
[class*=" tp-icon-"]:after {
    font-family: TPIcons;
    font-style: normal
}

.tp-icon-maps-and-flags:before {
    content: "\f100"
}

.tp-icon-trash:before {
    content: "\f101"
}

.tp-icon-no-stopping:before {
    content: "\f102"
}

.tp-icon-check:before {
    content: "\f103"
}

.tp-icon-close:before {
    content: "\f104"
}

.tp-icon-plus:before {
    content: "\f105"
}

.tp-icon-outside:before {
    content: "\f106"
}

.tp-icon-question:before {
    content: "\f107"
}

.tp-icon-ellipsis:before {
    content: "\f108"
}

.tp-icon-camera:before {
    content: "\f109"
}

.tp-icon-upload:before {
    content: "\f10a"
}

.tp-icon-minimize:before {
    content: "\f10b"
}

.tp-icon-maximize:before {
    content: "\f10c"
}

.tp-icon-pen:before {
    content: "\f10d"
}

.tagging-demo {
    width: 600px;
    margin: 50px auto
}

.tagging-demo img {
    width: 100%
}

.photo-tagging {
    position: relative
}

.photo-tagging.allow-add-tags {
    cursor: crosshair;
}

.photo-tagging span.photo-tagging-point i {
    background: #fff;
    margin-top: -9px;
    margin-left: -9px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 100% !important;
    cursor: pointer
}

.photo-tagging span.photo-tagging-point i.tp-animated:after {
    position: absolute;
    border: 2px solid #ddd;
    top: -9px;
    left: -9px;
    right: 0;
    bottom: 0;
    content: '';
    border-radius: 100%;
    opacity: 0;
    animation: tagging-motion 1s infinite
}

.photo-tagging span.photo-tagging-point:hover i:after,
.photo-tagging span.photo-tagging-point.show-tooltip i:after {
    position: absolute;
    border: 2px solid #fff;
    top: -9px;
    left: -9px;
    right: 0;
    bottom: 0;
    content: '';
    border-radius: 100%;
    opacity: 0;
    animation: tagging-motion 0.5s infinite
}

.photo-tagging[data-points-color="white"] span.photo-tagging-point i {
    background: #ffffff
}

.photo-tagging[data-points-color="white"] span.photo-tagging-point i:after {
    border-color: #ffffff
}

.photo-tagging[data-points-color="black"] span.photo-tagging-point i {
    background: #000000
}

.photo-tagging[data-points-color="black"] span.photo-tagging-point i:after {
    border-color: #000000
}

.photo-tagging[data-points-color="red"] span.photo-tagging-point i {
    background: #d30000
}

.photo-tagging[data-points-color="red"] span.photo-tagging-point i:after {
    border-color: #d30000
}

.photo-tagging[data-points-color="yellow"] span.photo-tagging-point i {
    background: #fff200
}

.photo-tagging[data-points-color="yellow"] span.photo-tagging-point i:after {
    border-color: #fff200
}

.photo-tagging[data-points-color="orange"] span.photo-tagging-point i {
    background: #fc6600
}

.photo-tagging[data-points-color="orange"] span.photo-tagging-point i:after {
    border-color: #fc6600
}

.photo-tagging[data-points-color="pink"] span.photo-tagging-point i {
    background: #fc0fc0
}

.photo-tagging[data-points-color="pink"] span.photo-tagging-point i:after {
    border-color: #fc0fc0
}

.photo-tagging[data-points-color="violet"] span.photo-tagging-point i {
    background: #b200ed
}

.photo-tagging[data-points-color="violet"] span.photo-tagging-point i:after {
    border-color: #b200ed
}

.photo-tagging[data-points-color="blue"] span.photo-tagging-point i {
    background: #0018f9
}

.photo-tagging[data-points-color="blue"] span.photo-tagging-point i:after {
    border-color: #0018f9
}

.photo-tagging[data-points-color="green"] span.photo-tagging-point i {
    background: #3bb143
}

.photo-tagging[data-points-color="green"] span.photo-tagging-point i:after {
    border-color: #3bb143
}

.photo-tagging[data-points-color="brown"] span.photo-tagging-point i {
    background: #7c4700
}

.photo-tagging[data-points-color="brown"] span.photo-tagging-point i:after {
    border-color: #7c4700
}

.photo-tagging ~ .photo-tagging-list {
    margin: 15px 0px
}

.photo-tagging ~ .photo-tagging-list>a {
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 4px 8px;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    border-radius: 3px;
    margin: 0px 10px 0px 0px
}

.photo-tagging ~ .photo-tagging-list>a .photo-tagging-tag-delete {
    background: #666;
    display: block;
    color: #fff;
    font-size: 9px;
    height: 19px;
    width: 20px;
    line-height: 19px;
    text-align: center;
    margin-left: 9px;
    margin-right: -2px;
    margin-top: 1px;
    font-family: sans-serif;
    float: right;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px
}

.photo-tagging ~ .photo-tagging-list>a .photo-tagging-tag-delete:hover {
    background: #ea2b2b
}

.photo-tagging ~ .photo-tagging-list>a .photo-tagging-tag-text {
    color: #002752;
    font-weight: 400;
    border-bottom: 0.5px dashed #aaa;
    padding-bottom: 1px;
    position: relative;
    top: -2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.photo-tagging ~ .photo-tagging-list>a .photo-tagging-tag-text:hover {
    color: #0069d9
}

.photo-tagging [tooltip] {
    position: relative
}

.photo-tagging [tooltip]::before,
.photo-tagging [tooltip]::after {
    text-transform: none;
    font-size: 14px;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0
}

.photo-tagging [tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001
}

.photo-tagging [tooltip]::after {
    content: attr(tooltip);
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000
}

.photo-tagging [tooltip]:hover::before,
.photo-tagging [tooltip]:hover::after {
    display: block
}

.photo-tagging .show-tooltip::before,
.photo-tagging .show-tooltip::after {
    display: block;
    opacity: 1
}

.photo-tagging [tooltip='']::before,
.photo-tagging [tooltip='']::after {
    display: none !important
}

.photo-tagging [tooltip]:not([flow])::before,
.photo-tagging [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333
}

.photo-tagging [tooltip]:not([flow])::after,
.photo-tagging [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px)
}

.photo-tagging [tooltip]:not([flow])::before,
.photo-tagging [tooltip]:not([flow])::after,
.photo-tagging [tooltip][flow^="up"]::before,
.photo-tagging [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em)
}

.photo-tagging [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333
}

.photo-tagging [tooltip][flow^="down"]::after {
    top: calc(100% + 5px)
}

.photo-tagging [tooltip][flow^="down"]::before,
.photo-tagging [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, 0.5em)
}

.photo-tagging [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%)
}

.photo-tagging [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%)
}

.photo-tagging [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%)
}

.photo-tagging [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%)
}

@keyframes tooltips-vert {
    to {
        opacity: 1;
        transform: translate(-50%, 0)
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 1;
        transform: translate(0, -50%)
    }
}

.photo-tagging [tooltip]:not([flow]):hover::before,
.photo-tagging [tooltip]:not([flow]):hover::after,
.photo-tagging [tooltip][flow^="up"]:hover::before,
.photo-tagging [tooltip][flow^="up"]:hover::after,
.photo-tagging [tooltip][flow^="down"]:hover::before,
.photo-tagging [tooltip][flow^="down"]:hover::after {
    opacity: 1
}

.photo-tagging [tooltip][flow^="left"]:hover::before,
.photo-tagging [tooltip][flow^="left"]:hover::after,
.photo-tagging [tooltip][flow^="right"]:hover::before,
.photo-tagging [tooltip][flow^="right"]:hover::after {
    opacity: 1
}

@keyframes tagging-motion {
    from {
        transform: scale(0.5, 0.5);
        opacity: 1
    }
    to {
        transform: scale(2, 2);
        opacity: 0
    }
}
